* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(151, 55, 240);
  font-family: "Roboto";
}

.navigation .container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}

.logo {
  border-radius: 10px;
}

.navigation .container h1 {
  font-size: 36px;
  font-weight: 900;
  color: rgb(45, 2, 85);
  margin-top: 10px;
}

ul {
  list-style: none;
}

.navigation .container-2 {
  background-color: rgb(45, 2, 85);

  border-radius: 10px;
  margin: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

li a {
  color: #f9f9f9;
  text-decoration: none;
  font-size: 18px;
}

.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.background-container {
  background-image: url("/images/Graduate-2025.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px;
  color: #f4f4f4;
  font-weight: 900;
  text-align: start;
  border-radius: 10px;
}

.header .container {
  display: flex;
  flex-flow: column;
  margin: 30px;
}

.background-container h2 {
  /* color: #f9f9f9; */
}
