* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  font-family: "Roboto";
}

.navigation .container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.navigation .container h1 {
  font-size: 36px;
  color: rgb(122, 8, 229);
  margin-top: 10px;
}

ul {
  list-style: none;
}

.navigation .container-2 {
  background-color: rgb(45, 2, 85);

  border-radius: 10px;
  margin: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

li a {
  color: #f9f9f9;
  text-decoration: none;
  font-size: 18px;
}

.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.background-container {
  background-image: url('images/Nursery.jpg');
  background-size: cover;      /* Ensures the image covers the div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
  padding: 40px 20px;          /* Adjust for spacing */
  color: white;                /* Optional: for contrast */
}
