/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: rgb(61, 5, 61);
  background-color: #8d8d99;
}

.logo {
  width: 18px;
}
.header {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Header Styles */
header {
  background: rgb(61, 5, 61);
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

.motto {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  font-size: smaller;
}

hr {
  align-items: center;
  padding: auto;
}
header p {
  margin: 0;
  font-size: 1.2em;
}

/* Navigation Styles */
nav {
  background: rgb(61, 5, 61);
  color: #ffffff;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
  position: relative; /* For hover effects */
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li a:hover {
  color: #f4f4f9;
  text-decoration: underline;
}

/* Hover Effect - Add underline animation */
nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  /* height: 2px; */
  background: #f4f4f9;
  transition: width 0.3s ease;
  margin: auto;
}

nav ul li a:hover::after {
  width: 80%;
  list-style-type: none;
  margin: 0% 15px;
}
/* Grid templates */
.container {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, minmax(150px, auto));
}

.container div {
  background-color: rgb(138, 110, 105);
  padding: 30px;
  color: #ffffff;
}

.container div:nth-child(even) {
  background-color: rgb(74, 34, 94);
}

.our-history {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  grid-column: 1/4;
}

.achievement {
  grid-column: 1/2;
}

.morning-session {
  background-color: rgb(61, 14, 85);
  grid-column: 2/4;
  grid-row: 2;
}

.islamiiya-session {
  grid-column: 4/6;
  grid-row: 1;
}
.tahfiz-session {
  grid-row: 2;
  grid-column: 4/6;
}
/* Section Styles */
section#history {
  padding: 20px 0;
  text-align: center;
}

section#history h2 {
  font-size: 2em;
  margin-bottom: 10px;
  padding: 10;
  color: #ffffff;
  transition: color 0.3s ease;
}

section#history p {
  background-color: #35424a;
  color: #ffffff;
  font-size: 1.1em;
  line-height: 1.8;
  transition: transform 0.3s ease;
}

/* Footer Styles */
footer {
  background: rgb(61, 5, 61);
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  transition: background 0.3s ease;
}

.first-team {
  margin: 15px;
  padding: 10px 0;
  text-align: left;
}

:root {
  --margin-mobile: 16px;
  --padding-mobile: 16px;

  --margin-tablet: 24px;
  --padding-tablet: 24px;

  --margin-desktop: 32px;
  --padding-desktop: 40px;
}

.container {
  margin: var(--margin-mobile);
  padding: var(--padding-mobile);
}

@media (min-width: 768px) {
  .container {
    margin: var(--margin-tablet);
    padding: var(--padding-tablet);
  }
}

@media (min-width: 1024px) {
  .container {
    margin: var(--margin-desktop);
    padding: var(--padding-desktop);
  }
}