body {
  background-color: rgb(61, 5, 61);
  font-family: "DM Sans", sans-serif;
  margin: 0%;
  padding: 0%;
}

#logo {
  width: 180;
}

#headersection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0% 10%;
  padding: 1% 2%;
  border-bottom: 2px solid #005c3c;
}

  .download-btn {
    background-color: #fff; /* white */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }

  .download-btn:hover {
    background-color: red;
  }

